/* 에러창 */
.alert-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1296px;
    height: 100vh; 
    background-color: #e9d9c8;
    font-size: 18px;
    font-weight: bold;
}

.error-alert {
    display: flex;
    justify-content: center;
}

.recipe-detail {
    background-color: #bbc5b3;
    margin-top: 50px;
    padding: 0;
    border-radius: 20px 20px 0 0;
    color: #4b4848;
}

.recipe-title {
    text-align: center;
    padding: 20px 0;
    color: #fff;
    background-color: rgb(88, 116, 70);
    margin: 0;
    border-radius: 20px 20px 0 0;
    font-size: 26px;
    font-weight: bold;
}

.recipe-detail-area {
    padding: 40px 40px 80px 40px;
}

.meal-img {
    max-width: 450px;
    height: auto;
}

.recipe-items-area {
    display: flex;
    gap: 40px;
    font-size: 17px;
    margin-bottom: 80px;
}

.recipe-items {
    margin: 10px 0;  
    align-content: center;
}

.recipe-items span, 
.recipe-items h3,
.recipe-instructions-area h3 {
    font-size: 23px;
    font-weight: bold;
}

.recipe-items p:nth-child(2) {
    margin-bottom: 50px;
}

.recipe-ingredients {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

/* 레시피 설명*/
.recipe-instructions-area h3 {
    font-weight: bold;
}

.instructions {
    display: inline-flex;
    align-items: center;
}

.more-button {
    background-color: #4e7742;
    color: #fff;
    border: none;
    padding: 3px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; 
    font-size: 14px; 
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
}

.more-button:hover {
    background-color: #3a5c33;
}

/* 레시피 출처 영역 */
.recipe-source {
    margin-bottom: 80px;
    font-weight: bold;
}

.recipe-source-name {
    color: rgb(105, 104, 104);
    transition: all 0.5s ease;
    &:hover {
        color: #4e7742;
    }
}

/* 유큐브 영역 */
.youtube-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}

.youtube-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.youtube-wrapper {
  position: relative;
  width: 600px;  
  height: 0;
  padding-bottom: 35%; 
  background-color: black;
  overflow: hidden;  
  margin-bottom: 1rem; 
}

.youtube-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.youtube-wrapper iframe {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;  
}

@media (max-width: 1200px) {
    .recipe-items-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .recipe-title {
        font-size: 23px;
    }

    .recipe-items span, 
    .recipe-items h3,
    .recipe-instructions-area h3 {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .recipe-items-area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .youtube-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .youtube-area h4{
        margin-bottom: 20px;
        font-size: 22px;
    }

    .recipe-items span, 
    .recipe-items-area h3,
    .recipe-instructions, 
    .recipe-instructions-area h3{
        font-size: 20px;
        font-weight: bold;
    }

    .recipe-title {
        width: 100%;
    }

    .youtube-wrapper {
      max-width: 500px;  
      padding-bottom: 56.25%; 
    }
}

@media (max-width: 833px) {
    .recipe-title {
        font-size: 22px;
    }

    .recipe-detail {
        margin-top: 100px;
    }
}

@media (max-width: 500px) {
    .youtube-wrapper {
      max-width: 350px; 
    }

    .meal-img {
        max-width: 330px;  
    }

}