/* 에러창 */
.alert-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1296px;
    height: 100vh; 
    background-color: #e9d9c8;
    font-size: 18px;
    font-weight: bold;
}

.recipe-detail {
    background-color: #bbc5b3;
    margin-top: 50px;
    padding: 0;
    border-radius: 20px 20px 0 0;
    color: #4b4848;
}

.error-alert {
    display: flex;
    justify-content: center;
}

.recipe-title {
    text-align: center;
    padding: 20px 0;
    color: #fff;
    background-color: rgb(88, 116, 70);
    margin: 0;
    border-radius: 20px 20px 0 0;
    font-size: 26px;
    font-weight: bold;
}

.recipe-detail-area {
    padding: 40px 40px 80px 40px;
}

.meal-img {
    max-width: 100%;
    max-height: 500px;
}

.recipe-items-area {
    display: flex;
    gap: 30px;
    font-size: 17px;
    margin-bottom: 80px;
}

.recipe-items {
    margin: 10px 0;  
    align-content: center;
}

.recipe-items span, 
.recipe-items-area h3,
.recipe-instructions {
    font-size: 23px;
    font-weight: bold;
}

.recipe-items p:nth-child(2) {
    margin-bottom: 50px;
}

.recipe-ingredients {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

/* 레시피 설명*/
.recipe-instructions-area h3 {
    font-weight: bold;
}

.instructions {
    display: inline-flex;
    align-items: center;
}

.more-button {
    background-color: #4e7742;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; 
    font-size: 14px; 
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
}

.more-button:hover {
    background-color: #3a5c33;
}

/* 레시피 출처 영역 */
.recipe-source {
    margin-bottom: 80px;
    font-weight: bold;
}

.recipe-source-name {
    color: rgb(105, 104, 104);
    transition: all 0.5s ease;
    &:hover {
        color: #4e7742;
    }
}

/* 유큐브 영역 */
.youtube-area h4{
    font-weight: bold;
}
